.about{
    background-color: #070A13;
    display: flex;
    flex-direction: column;
    margin: auto 150px;
    
}
.about h1{
    font-size: 35px;
    margin-top: 140px;
    font-weight: bolder;
   
}

.about-align{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 30px;
    
}
.about-align img{
    width: 300px;
    border-radius: 10px;
}
.about-right{
    background-color: #14162C;
    padding: 50px;
    border-radius: 10px;
}
.about-right p{
    padding: 5px;
}
.summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.summary .summary-element{
    background-color: #14162C;
    padding: 20px 40px;
    border-radius: 10px;
}
@media screen and (max-width:767px){
    .about{
        
        margin: 20px;
    }
    .about h1{
        font-size: 28px;
        margin-top: 10px;
        font-weight: bolder;
        text-align: left;
       
    }
    
    .about-align img{
        width: 100%;
        height: 300px;
        border-radius: 10px;

    }
    .about-align{
        
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
        margin-top: 10px;
        
    }
   
    .about-right{
        background-color: #14162C;
        padding: 10px;
        border-radius: 10px;
    }
    .about-right p{
        padding: 5px;
    }
    .summary{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin-top: 30px;
        padding-bottom: 30px
        
    }
    .summary .summary-element{
        background-color: #14162C;
        padding: 20px;
        border-radius: 10px;

    }
}