.navbar{
   
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    z-index: 100;
    
   
    
}
.nav-menu-responsive{
    display: none;
}
.hamburger-react{
    display: none;
}

.nav-menu{
    position: fixed;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    top: 60px;
    left: 50%;
    gap:60px;
    font-size: 16px;
    transform: translate(-50%, -50%);
    background-color: #10103C;
    padding: 15px 30px;
    border-radius: 10px;
    
}
.nav-menu button{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    
}

@media screen and (max-width:767px){
    .nav-menu{
        display: none;
    
    }
    .nav-menu-responsive.hidden {
        display: none;
    }
    .nav-menu-responsive {
       
        position: fixed;
        align-items: left;
        list-style: none;
        display: flex;
        flex-direction: column;
        top: 38%;
        left: 50%;
        gap:10px;
        width: 70%;
        font-size: 16px;
        transform: translate(-50%, -50%);
        background-color: #10103C;
        padding: 80px 30px;
        border-radius: 10px;
        transition: ease-in 1s;

    }
    .nav-menu-responsive hr{
        margin: 0;
    }
    
    .hamburger-react{
        display: block;
        margin: 15px ;
        margin-bottom: 0;
        
    }
    .nav-menu-responsive button{
        background: none;
        border: none;
        color: white;
        font-size: 16px;
        
    }
}