.hero{
    background-color: #070A13;
    display: flex;
    flex-direction: row;
    
}
.hero-left{
    background-color: transparent;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    justify-content: center;
    padding-left: 100px;
    color: white;
    margin-top: 60px;
}
.hero-left p{
    font-size: 18px;
    width: 100%;
    
}
.hero-left h1{
    font-size: 60px;
}
.hero-left .btn{
    background-color: #0000FF;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins';
    border: none;
    margin-top: 15px;
    cursor: pointer;

}
.hero-right{
    background-color: #14162C;
    flex: 1;
    margin: 130px 160px 50px 160px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.hero-right .profile_pic{
    border-radius: 50%;
    height: 120px; 
    width: 120px; 
    margin: 20px auto;
  
  
    
}
.hero-right p{
    background: #224476;
    padding: 8px 10px ;
    margin: 8px 10px;
    font-size: 15px;
    text-align: left;
    border-radius: 10px;
   
   
}


.hero-right .icons{
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 5px; 
    
}
.hero-right span{
    font-size: 18px;
    font-weight: bold;
}
.hero-right .header-name{
    text-align: center;
}
.hero-right .skills{
   display: grid;
   grid-template-columns: auto auto auto;
   
    
}
.hero-right .skills p{
    text-align: center;
}

.hero-right .social-media{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 10px;
    
     
 }
 .hero-right .social-media p{
     text-align: center;
     padding: 8px;
     padding-left: 13px;
    
    
 }

 @media screen and (max-width:767px){

.hero{
    
    flex-direction: column;
  
}
.hero-left{
    flex: 1;
    padding:20px;
    color: white;
    margin-top: 20px;
}
    
.hero-left p{
    font-size: 16px;
    width: 100%;
    
}
.hero-left h1{
    font-size: 30px;
    font-weight: bolder;
}
.hero-right{
    flex: 1;
    margin: 20px;
    padding: 5px;
    margin-top:20px;
}

}
 