.web{
    background-color: #070A13;
    display: flex;
    flex-direction: column;
    
}
.web h1{
    font-size: 35px;
    font-weight: bolder;
    margin: 140px 150px 0 150px;
}
.web-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 140px;
    margin: 30px 150px;
    padding-bottom: 30px;

}
.web-card{
    display: flex;
    flex-direction: column;
    background: #10103C;
    border-radius: 10px;
    padding: 20px;
    
}
.web-card img{
    width: 100%;
    height: 150px;
    margin: 10px auto;
    border-radius: 2px;
}
.web-card h4{
    font-size: 16px;
    font-weight: bold;
}
.web-card p{
    font-size: 14px;
    text-align: left;
    
}
.web-card .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.web-card a{
    text-decoration: none;
    background: #1B1BA3;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 14px;

}
@media screen and (max-width:767px){
   
    .web h1{
        font-size: 30px;
        font-weight: bolder;
        margin: 20px;
    }
    .web-list{
       
        flex-direction: column;
        gap: 20px;
        margin: 20px;
        padding-bottom: 10px;
    
    }
    .web-card{
        display: flex;
        flex-direction: column;
        background: #10103C;
        border-radius: 10px;
        padding: 20px;
        margin: 0px;
    }
    .web-card img{
        width: 100%;
        height: 150px;
        margin: 10px auto;
        border-radius: 2px;
    }
    .web-card h4{
        font-size: 16px;
        font-weight: bold;
    }
    .web-card p{
        font-size: 14px;
        text-align: left;
        
    }
    .web-card .links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .web-card a{
        text-decoration: none;
        background: #1B1BA3;
        color: white;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 10px 0;
        font-size: 14px;
    
    }
}