.contact{
    background-color: #070A13;
    display: flex;
    flex-direction: column;
    margin: auto 100px;
    padding-bottom: 60px;
   
    
}
.contact h1{
    font-size: 35px;
    margin-top: 140px;
    font-weight: bolder;
   
}
.contact-align{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 30px;
    
}
.contact-left{
    flex: 1.5;
   
}
.contact-left .contact-text{
    font-size: 18px;
    padding: 5px 0;
    width: 80%;
    
}
.contact-left p{
    font-size: 18px;
    margin-top: 10px;
    padding: 5px 0;

}
.contact-left .icons{
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-right: 5px; 
}
.contact-right{
    flex: 1;
}
.contact-right form{
    background-color: #14162C;
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
form input,textarea{
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
    border: none;
}
form input,textarea::placeholder{
    text-align: left;
    font-size: 12px;
    font-family: 'Poppins';
}
.contact-right p{
    margin: 0px 10px;
    padding: 0 10px;
    font-size: 13px;
}
form .btn{
    padding: 10px;
    margin: 10px 20px;
    background: #1B1BA3;
    color: rgb(208, 209, 252);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;

}
.footer{
   
    padding: 20px;
    background: #14162C;
    margin-top: 30px;
    border-radius: 10px;
}
.footer-first{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}
.footer-left{
    flex:2;
}
.footer hr{
    margin: 5px 0;
}
.footer-right{
    flex: 1;
    align-items: center;
    margin-top: 25px;
    margin-left: 25px;
    
}
.footer-right input{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.footer-right input::placeholder{
    padding-left: 5px;
    font-family: 'Poppins';
    font-size: 13px;
}
.footer-right a{
    padding: 4px 40px;
    background: #1B1BA3;
    margin: 0 10px;
    border-radius: 5px;
}
.footer-second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-second2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

@media screen and (max-width:767px){

    .contact{
       
        margin: 20px;
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .contact h1{
        font-size: 30px;
        margin-top: 20px;
       font-weight: bolder;
       
    }
    .contact-align{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        
    }
    .contact-left{
        flex: 1;
        margin-bottom: 20px;
       
    }
    .contact-left .contact-text{
        font-size: 16px;
        padding: 5px 0;
        width: 100%;
        
    }
    .contact-left p{
        font-size: 16px;
        margin-top: 10px;
        padding: 5px 0;
    
    }
    .contact-left .icons{
        height: 20px;
        width: 20px;
        vertical-align: middle;
        margin-right: 10px; 
    }
    .footer-left{
        flex:1;
    }
    .contact-right{
        flex: 1;
    }
    .contact-right form{
        background-color: #14162C;
        padding: 10px;
        border-radius: 10px;
        padding-top: 20px;
        
    
    }
    form input,textarea{
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        border: none;
    }
    
    form .btn{
     
        padding: 10px 20px;
        margin: 10px;
        border-radius: 5px;
    }
    
    
    .footer-first{
    
        flex-direction: column;
        gap: 20px;
    }
    
    .footer-right{
        flex: 1;
        align-items: center;
        flex-direction: row;
        margin-top: 0px;
        margin-left: 0px;
        
    }
    .footer-right input{
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
   ;
    }
   
    .footer-right a{
        padding: 3px 10px;
        background: #1B1BA3;
        border-radius: 5px;
    }
    .footer-second{
    
        flex-direction: column;
    
    }
    
    .footer-second2{
        flex-direction: column;
        gap: 10px;
    }
    
.footer-right input::placeholder{
    padding-left: 10px;
    font-family: 'Poppins';
    font-size: 13px;
}

   
}