.ui{
    background-color: #070A13;
    display: flex;
    flex-direction: column;
    
}
.ui h1{
    font-size: 35px;
    font-weight: bolder;
    margin: 140px 150px 0 150px;
}
.ui-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 140px;
    margin: 30px 150px;
    padding-bottom: 30px;
    

}
.ui-card{
    
   
    border-radius: 10px;
    position: relative;
    margin:0;
    
    
    
}
.ui-card img{
    width: 300px;
    height: 250px;
    border-radius: 10px;

}
.ui-card .text-top{
    position: absolute;
    bottom: 50px;
    left: 16px;
    color: white;
    z-index: 10;
    font-size: 15px;
    font-family: 'Poppins' bolder;
     
}

.ui-card .overlay2{
     
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 15%; 
    background: rgba(50, 42, 42, 0.8); 
    pointer-events: none; 
    border-top: 1px solid white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 120px black;
}
.ui-card .text-bottom{
    position: absolute;
    bottom: 12px;
    left: 16px;
    z-index: 10;
      
    
}

.ui-card h4{
    font-size: 16px;
    font-weight: bold;
}
.ui-card p{
    font-size: 14px;
    text-align: left;
    
}
.ui-card .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ui-card a{
    text-decoration: none;
    background: #1B1BA3;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 14px;

}
@media screen and (max-width:767px){
   
   
    .ui h1{
        font-size: 30px;
        font-weight: bolder;
        margin: 20px;
    }
    .ui-list{
       
        flex-direction: column;
        gap: 30px;
        margin: 20px;
        padding-bottom: 20px;
        
    
    }
    .ui-card img{
        width: 100%;
        height: 250px;
        border-radius: 10px;
    
    }
    
   
   
}